<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <import resource="si-config-measurement.xml"/>
    <bean id="wifiDistanceCalculator"
          class="uni.miskolc.ips.ilona.measurement.model.measurement.wifi.VectorIntersectionWiFiRSSIDistance">
    </bean>
    <bean id="measurementDistanceCalculator"
          class="uni.miskolc.ips.ilona.measurement.model.measurement.MeasurementDistanceCalculatorImpl">
        <constructor-arg ref="wifiDistanceCalculator"/>
        <constructor-arg name="wifiDistanceWeight" value="1.0"/>
        <constructor-arg name="magnetometerDistanceWeight" value="0.5"/>
        <constructor-arg name="gpsDistanceWeight" value="0.0"/>
        <constructor-arg name="bluetoothDistanceWeight" value="1.0"/>
        <constructor-arg name="rfidDistanceWeight" value="0.0"/>
    </bean>
    <bean id="positioningService" class="uni.miskolc.ips.ilona.positioning.service.impl.knn.KNNSimplePositioning">
        <constructor-arg name="distanceCalculator" ref="measurementDistanceCalculator"/>
        <constructor-arg name="measurementGateway" ref="MeasurementGateway"/>
        <constructor-arg name="k" value="3"/>
    </bean>
    <bean id="knnpositioningService" class="uni.miskolc.ips.ilona.positioning.service.impl.knn.KNNSimplePositioning">
        <constructor-arg name="distanceCalculator" ref="measurementDistanceCalculator"/>
        <constructor-arg name="measurementGateway" ref="MeasurementGateway"/>
        <constructor-arg name="k" value="3"/>
    </bean>
    <bean id="knnWpositioningService" class="uni.miskolc.ips.ilona.positioning.service.impl.knn.KNNWeightedPositioning">
        <constructor-arg name="distanceCalculator" ref="measurementDistanceCalculator"/>
        <constructor-arg name="measurementGateway" ref="MeasurementGateway"/>
        <constructor-arg name="k" value="3"/>
    </bean>
    <bean id="naivebayespositioningService"
          class="uni.miskolc.ips.ilona.positioning.service.impl.classification.bayes.NaiveBayesPositioningService">
        <constructor-arg name="maxMeasurementDistance" value="50"/>
        <constructor-arg name="measurementGateway" ref="MeasurementGateway"/>
        <constructor-arg name="measDistanceCalculator" ref="measurementDistanceCalculator"/>
    </bean>

</beans>